* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 1em;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;

    margin: 0;
}

#ventana {
    background-color: rgb(199, 160, 202);
    width: min(40em, 100%);
    margin: 1em auto;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.6);
}

#ventana fieldset {
    border: none;
}

.tituloLegend {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    background-color: rgb(134, 5, 93);
}

.campo {
    margin: 1em 2em 0 2em;
    display: flex;
    justify-content: center;
}

.campo label {
    font-size: 1.2em;
    font-weight: bold;
    padding-right: .5em;
}

.campo h3{
    padding-right: .5em;
}

.campo input {
    font-size: 16px;
    width: 100%;
}

#contenedor-valorA {
    font-size: 16px;
    width: 100%;
    display: flex;
}

#cmbPlanes {
    width: min(100%, 100%);
    font-size: 16px;
    border-radius: 2px;
}

.parrafo {
    border: 1px solid rgb(105, 105, 105);
    background-color: white;
    padding: .2em 0 .2em .3em;
    width: min(100%, 100%);
    border-radius: 2px;
}

#contenedor-botones {
    text-align: end;
    margin-right: 2em;
}

.boton {
    background-color: rgb(134, 5, 93);
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: .6em;
    border-radius: .2em;
    margin: 1em 0 2em 2em;
}

.boton:hover {
    background-color: rgb(255, 180, 231);
    cursor: pointer;
    color: black;
}